<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusic"
          class="com.ua.model.ClassicalMusic"
          init-method="init"
          destroy-method="destroy"
          factory-method="getClassicalMusic">
    </bean>
    <bean id="rockMusic"
          class="com.ua.model.RockMusic">
    </bean>
    <bean id="popMusic"
          class="com.ua.model.PopMusic">
    </bean>

    <bean id="musicPlayer"
          class="com.ua.MusicPlayer"
          scope="prototype">
        <property name="musics">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="popMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>